@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  body {
    @apply font-sans;
  }
}

.cardContainer {
  pointer-events: none;
}

.projectCard {
  pointer-events: auto;
  /* NO definimos ninguna transición aquí, 
     dejamos que .fade-in (abajo) la controle al cargar. */
}

.cardContainer:hover .projectCard {
    opacity: 0.5;
    filter: blur(3px);
    
    /* LA SOLUCIÓN: Sobrescribimos la transición de .fade-in */
    /* para que el desenfoque sea inmediato (0s) */
    transition: opacity 0s, filter 0s, transform 0s;
}

.cardContainer .projectCard:hover {
    opacity: 1;
    filter: blur(0); 
    transform: scale(1.02); 
    z-index: 10; 

    /* LA SOLUCIÓN: Sobrescribimos la transición de .fade-in */
    /* para que el enfoque sea inmediato (0s) */
    transition: opacity 0s, filter 0s, transform 0s;
}

html,
body{
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 500ms;
}

html {
  scroll-behavior: smooth;
}

/* Esta clase solo controla la animación de entrada (0.6s) */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform .6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0px);
}