@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  body {
    @apply font-sans;
  }
}

.cardContainer:hover .projectCard {
    opacity: 0.5;
    filter: blur(3px);
  }

  .cardContainer .projectCard:hover {
    opacity: 1;
    filter: blur();
  }

html,
body,
* {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 500ms;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform .6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0px);
}
