@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  body {
    @apply font-sans;
  }
}

.cardContainer:hover .projectCard {
    opacity: 0.5;
    filter: blur(3px);
  }

  .cardContainer .projectCard:hover {
    opacity: 1;
    filter: blur();
  }

html,
body,
* {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

html {
  scroll-behavior: smooth;
}
