---
import AncordButton from "../AncordButton.astro";
---

<div class="flex flex-col sm:flex-row gap-4">
  <AncordButton
    href="#"
    content="Get a website"
    extraClass="bg-indigo-500 hover:bg-indigo-700 dark:hover:bg-indigo-500"
  />
  <AncordButton
    href="#"
    content="see my work"
    extraClass="bg-emerald-600 hover:bg-emerald-700 dark:hover:bg-emerald-500"
  />
</div>
