---
import SocialSection from "./sections/SocialSection.astro";
---

<section
  class="mb-12 space-y-6 leading-relaxed text-stone-700 dark:text-stone-300 transition-colors"
  id="contacto"
>
  <p>Soy un desarrollador full-stack nacido en Chocó, Colombia.</p>

  <p>
    Me apasiona sobre todo la resolucion de problemas con logica en el backend
    ademas de crear interfaces claras y soluciones web que realmente ayuden a
    los negocios. Cuido el detalle técnico y visual: ese que se nota cuando está
    bien hecho y se extraña cuando no.
  </p>

  <p>
    Actualmente trabajo como freelance, construyendo y manteniendo sitios web
    para emprendedores y organizaciones que necesitan soluciones simples,
    funcionales y efectivas.
  </p>

  <p>
    Uno de mis proyectos recientes fue el desarrollo del sitio web de la
    fundación
    <strong class="font-semibold text-stone-900 dark:text-white">
      Laboratorio de Paz, Convivencia y Seguridad Humana
    </strong>, donde pude aportar tecnología a una iniciativa social con impacto
    real.
  </p>
  <SocialSection />
</section>
