---
// src/components/SkillCard.astro
const { name } = Astro.props;
---

<div
  class="p-4 rounded-lg bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 transition fade-in"
>
  <p>{name}</p>
</div>
