---
import Main from "../components/Main.astro";
import UserCard from "../components/UserCard.astro";
import Layout from "../layouts/Layout.astro";
import SocialSection from "../components/SocialSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="mx-auto max-w-2xl px-6 py-16 md:py-24">
    <UserCard />
    <Main />
    <SocialSection />
    <ProjectsSection />

    <footer
      class="mt-16 border-t border-stone-300 pt-8 text-center text-sm text-stone-600"
    >
      <p>©2025 Juan Moreno All rigths reserved</p>
      <p>based in cali, Colombia • Remote clients worldwide</p>
    </footer>
  </main>
</Layout>
