---
import Layout from "../layouts/Layout.astro";
import LemaSection from "../components/sections/LemaSection.astro";
import ProfileImg from "../components/ProfileImg.astro";
import ServiceSection from "../components/sections/ServiceSection.astro";
import Footer from "../components/Footer.astro";
import ProjectSection from "../components/sections/ProjectSection.astro";
---

<Layout>
  <div class="relative flex flex-col overflow-x-hidden">
    <section
      class="flex flex-col-reverse md:flex-row items-center px-6 pt-20 gap-10 min-h-screen w-[90%] mx-auto"
    >
      <LemaSection
        title="Websites That Help Small Businesses Win More Customers"
        content="I'm Willy, a web developer and former entrepreneur. After running cafés, shops, and service businesses for 10+ years, I know what owners really need: websites that attract customers, build trust, and keep things simple. I bring that business mindset into every project I build."
      />
      <ProfileImg img="me.jpg" alt="imagen de Juan Moreno" />
    </section>
    <section>
      <ServiceSection />
    </section>
    <section id="projects">
      <ProjectSection />
    </section>
  </div>
  <Footer />
</Layout>
