---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="relative flex flex-col overflow-x-hidden">
    <section
      class="flex flex-col-reverse md:flex-row items-center px-6 pt-20 gap-10 min-h-full w-[90%] mx-auto"
    >
      <!-- Texto -->
      <div
        class="text-left flex flex-col gap-6 flex-1 bg-linear-to-r from-indigo-600 to-emerald-500 bg-clip-text text-transparent"
      >
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-semibold">
          Websites That Help Small Businesses Win More Customers
        </h1>

        <p class="leading-relaxed text-stone-700 text-base sm:text-lg">
          I’m Willy, a web developer and former entrepreneur. After running
          cafés, shops, and service businesses for 10+ years, I know what owners
          really need: websites that attract customers, build trust, and keep
          things simple. I bring that business mindset into every project I
          build.
        </p>

        <div class="flex flex-col sm:flex-row gap-4">
          <a
            href="#"
            class="bg-indigo-600 text-white h-10 flex justify-center items-center px-6 rounded-md hover:-translate-y-0.5 transition-transform ease-in"
            >Get a website quote</a
          >
          <a
            href="#"
            class="bg-emerald-500 text-white h-10 flex justify-center items-center px-6 rounded-md hover:-translate-y-0.5 transition-transform ease-in"
            >See my work</a
          >
        </div>
      </div>

      <!-- Imagen -->
      <div class="flex-1 flex justify-center md:max-w-[50%] mt-10 md:mt-0">
        <img
          class="rounded-full bg-linear-to-t from-indigo-600 to-emerald-500 p-1 animate-bounce w-48 sm:w-60 md:w-72 lg:w-80"
          src="me.jpg"
          alt="una imagen mia"
        />
      </div>
    </section>
  </div>
</Layout>

<style>
  .animate-bounce {
    animation: bounce 3s ease-in-out infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
</style>
