---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/perfilProfesional/sections/Hero.astro";
import About from "../components/perfilProfesional/sections/About.astro";
import Skills from "../components/perfilProfesional/sections/Skills.astro";
import Contact from "../components/perfilProfesional/sections/Contact.astro";
---

<Layout>
  <main class="flex flex-col gap-20 md:gap-32">
    <Hero />
    <About />
    <Skills />
    <Contact />
  </main>
</Layout>

<style>
  main {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>
