---
const { img, alt } = Astro.props;
---

<!-- Imagen -->
<div class="flex-1 flex justify-center md:max-w-[50%] mt-10 md:mt-0">
  <img
    class="w-full h-full rounded-full bg-linear-to-t from-indigo-600 to-emerald-500 p-1 bounce sm:w-60 md:w-72 lg:w-80 shadow-lg shadow-stone-300/30 dark:shadow-stone-900/50 transition-shadow"
    src={img}
    alt={alt}
  />
</div>

<style>
  /* Solo aplica el bounce en pantallas >=800px */
  @media (min-width: 800px) {
    .bounce {
      animation: bounce 3s ease-in-out infinite;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
</style>
